<form asp-action="Index">
    <label>Nhap ho ten</label>
    <input type="text" name="HoTen">
    <label>Nhap dia chi</label>
    <input type="text" name="Address">
    <label>Nhap tuoi</label>
    <input type="text" name="Age">
    <label>Nhap so dien thoai</label>
    <input type="text" name="Phone">
    <input type="submit" value="send">
</form>
<h1>Hien thi thong tin: @ViewBag.infoSinhVien</h1>